.character .ant-card-cover {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.character-series .ant-card-body {
  padding-top: 0;
  overflow: scroll;
  height: calc(475px - 66px);
}
.character .ant-card-body {
  overflow: scroll;
  height: 249px
}